{% extends "base.html" %}
{% block pagetitle %}{{ article.title }} - {% endblock pagetitle %}
{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{ article.description|striptags }}">
    {% else %}
        <meta name="description" content="{{ article.summary|striptags }}">
    {% endif %}
{% endblock head %}
{% block content %}
<article class="entry">
    <header class="entry-header mb-4">
        {% if article.status == 'draft' %}
            <p class="mb-2 has-text-danger-dark has-text-weight-bold is-size-1">DRAFT ARTICLE</p>
        {% endif %}
        <h1 class="entry-title title is-2 mb-1">{{ article.title }}</h1>
        <div class="entry-meta has-text-grey-dark">
            <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            {% if article.modified %}
                (Last modified: <time class="modified" datetime="{{ article.modified.isoformat() }}">
                  {{ article.locale_modified }}
                </time>)
            {% endif %} /
            {% if article.category %}
                <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            {% endif %}
        </div>
    </header>
    <section class="entry-content content">
        {% if article.series %}
            <p>This post is part of my {{ article.series.name }} series:</p>
            <ol class="parts">
                {% for part_article in article.series.all %}
                    <li {% if part_article == article %}class="active"{% endif %}>
                        <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        {{ article.content }}
        <div>
            <span class="icon">
                <i class="fa fa-tags"></i>
            </span>
            <div class="tags is-inline">
                {% if article.tags %}
                    {% for tag in article.tags %}
                        <span class="tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <div class="box">
        <h3 class="title is-4">Need help implementing this or something similar?</h3>
        <p class="mt-2">I have a few spots open for select freelance projects involving software engineering, data pipelines, visualization, and machine learning. Let's discuss how I might help.</p>
        <a href="https://frankcorso.me/services" class="button is-link mt-4">Explore My Services</a>
    </div>
    {% if article.similar_posts %}
        <section class="mt-4 pt-4 similar-posts">
            <h2 class="title is-2 mb-2">Similar Articles</h2>
            <div class="columns is-multiline">
                {% for similar in article.similar_posts %}
                <div class="column is-one-half">
                    <article class="post">
                        <p class="meta has-text-grey-dark">
                            <time class="published" datetime="{{ similar.date.isoformat() }}">{{ similar.locale_date }}</time>
                            {% if similar.category %}
                                in <a href="{{ SITEURL }}/{{ similar.category.url }}"><span class="has-text-weight-medium">{{ similar.category }}</span></a>
                            {% endif %}
                        </p>
                        <h3 class="title is-4 mt-3"><a href="{{ SITEURL }}/{{ similar.url }}" rel="bookmark">{{ similar.title }}</a></h3>
                        <div class="summary">{{ similar.summary }}</div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
</article>
{% endblock content %}