{% extends "base.html" %}
{% block pagetitle %}{{ article.title }} - {% endblock pagetitle %}
{% block head %}
    {{ super() }}
    <meta name="description" content="{{ article.summary }}">
{% endblock head %}
{% block content %}
<article class="entry">
    <header class="entry-header">
        <h1 class="entry-title title is-2">{{ article.title }}</h1>
        <div class="entry-meta has-text-grey">
            <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            {% if article.modified %}
                (Last modified: <time class="modified" datetime="{{ article.modified.isoformat() }}">
                  {{ article.locale_modified }}
                </time>)
            {% endif %} /
            {% if article.category %}
                <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            {% endif %}
        </div>
    </header>
    <div class="entry-content content">
        <p>This post will take {{ (article.content|wordcount / 250)|round(0, 'ceil')|int }} minutes to read.</p>
        {{ article.content }}
    </div>
</article>
{% endblock content %}