{% extends "base.html" %}
{% block pagetitle %}{{ article.title }} - {% endblock pagetitle %}
{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{ article.description|striptags }}">
    {% else %}
        <meta name="description" content="{{ article.summary|striptags }}">
    {% endif %}
{% endblock head %}
{% block content %}
<article class="entry">
    <header class="entry-header">
        <h1 class="entry-title title is-2 mb-1">{{ article.title }}</h1>
        <div class="entry-meta has-text-grey">
            <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            {% if article.modified %}
                (Last modified: <time class="modified" datetime="{{ article.modified.isoformat() }}">
                  {{ article.locale_modified }}
                </time>)
            {% endif %} /
            {% if article.category %}
                <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            {% endif %}
        </div>
    </header>
    <div class="entry-content content">
        {% if article.series %}
            <p>This post is part of my {{ article.series.name }} series:</p>
            <ol class="parts">
                {% for part_article in article.series.all %}
                    <li {% if part_article == article %}class="active"{% endif %}>
                        <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        {{ article.content }}
    </div>
    <script async data-uid="34af01b2b3" src="https://frank-corso.ck.page/34af01b2b3/index.js"></script>
</article>
{% endblock content %}