<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
    {% endblock head %}
     <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/site.css" />
</head>
<body>
    <div id="page">
        <header class="section">
            <div class="level">
                <div class="level-left">
                    {% if GRAVATAR %}
                    <div class="level-item">
                        <a href="/"><img src="{{ GRAVATAR }}" alt="Frank Corso" class="gravatar"></a>
                    </div>
                    {% endif %}
                    <div class="level-item">
                        <div class="has-text-centered-mobile">
                            <p class="title is-2"><a href="/">{{ SITENAME }}</a></p>
                            <p class="subtitle is-marginless is-4">Data lover | Python dev</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-left">
                    {% for title, link in MENUITEMS %}
                        <a class="level-item" href="{{ link }}">{{ title }}</a>
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                      {% for p in pages %}
                        <a class="level-item" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                      {% endfor %}
                    {% endif %}
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                      {% for cat, null in categories %}
                        <a class="level-item" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                      {% endfor %}
                    {% endif %}
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <footer class="section">
            <div class="has-text-centered">
                <div class="icons">
                    {% if TWITTER %}
                    <a href="{{ TWITTER }}" target="_blank"><div class="icon-twitter icon"></div></a>
                    {% endif %}
                    {% if GITHUB %}
                    <a href="{{ GITHUB }}" target="_blank"><div class="icon-github icon"></div></a>
                    {% endif %}
                    {% if INSTAGRAM %}
                    <a href="{{ INSTAGRAM }}" target="_blank"><div class="icon-instagram icon"></div></a>
                    {% endif %}
                    {% if GOODREADS %}
                    <a href="{{ GOODREADS }}" target="_blank"><div class="icon-goodreads icon"></div></a>
                    {% endif %}
                    {% if FOURSQUARE %}
                    <a href="{{ FOURSQUARE }}" target="_blank"><div class="icon-foursquare icon"></div></a>
                    {% endif %}
                    {% if UNTAPPD %}
                    <a href="{{ UNTAPPD }}" target="_blank"><div class="icon-untappd icon"></div></a>
                    {% endif %}
                </div>
                <p>© 2020 {{ AUTHOR }}</p>
                <address>
                Proudly powered by <a href="https://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="https://www.python.org/">Python</a>.
                </address>
            </div>
        </footer>
    </div>
</body>
</html>