/**
Sitewide HTML Elements
**/

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #000000
}

a {
    color: #2a8737;
}

a:hover {
    color: #226c2c;
}

main {
    padding: 0 1.5rem;
}

footer {
    padding: 20px 0;
}

/*****
Sitewide Classes/IDs
*****/

#page, footer {
    width: 100%;
    margin: 0 auto;
}

#page {
    min-height: 100%;
    margin-bottom: -200px;
}

#page main h1, #page main h2 {
    color: #2a8737;
}

@media screen and (min-width: 800px) {
	#page, footer  {
		width: 800px;
	}
}

/*****
Header
*****/

/****
Footer
****/

.icons {
    margin: 2em 0;
}

.icons svg {
    width: 2.5em;
    height: 2.5em;
    padding: 0 0.5em;
    fill: #2a8737;
}


/*****
Archives
*****/

.post {
    margin-bottom: 25px;
    border-radius: 3px;
    padding: 10px;
    transition: all 0.2s;
    box-shadow: 0 0.5em 1em -0.125em #2a8737;
}

.post:hover, .post:focus-within {
    box-shadow: 0 0.7em 1.5em 0 #2a8737;
}

.post .meta {
    line-height: 32px;
    padding-bottom: 5px;
}

.post .summary {
    margin-bottom: 20px;
}

/*****
Single Article
*****/

.entry .entry-title {
    margin: 0;
    color: #2a8737;
}

.entry .entry-header {
    margin-bottom: 2em;
}

.entry img {
    box-shadow: 3px 3px 15px -3px;
}

/****
Dark Mode
****/

body.dark {
    background-color: #000000;
    color: #ffffff;
}

body.dark .subtitle {
    color: #ffffff;
}

body.dark a:hover {
    color: #559f5f;
}

.dark-mode {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 34px;
}

.dark-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.dark-mode label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.dark-mode label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.dark-mode input:checked + label {
  background-color: #333333;
}

.dark-mode input:checked + label:before {
  background-color: #000000;
}

.dark-mode input:focus + label {
  box-shadow: 0 0 1px #2196F3;
}

.dark-mode input:checked + label:before {
  transform: translateX(26px);
}

#scroll-indicator {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1em;
    background-color: #2a8737;
}
